Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
Public
resources
# Local Netlify folder
.netlify
.research/pdfs/Falls Church _Virginia Village Revisited.pdf
.research/pdfs/Falls Church City Schools A History (1999).pdf
.research/pdf_extracts
/.research/pdfs
.env
/.research/primary_sources/pdfs
.research/.original-research/1699-claim/data/S/land-grants/1977_Patents_and_Northern_Neck_Grants.pdf
/.research/.original-research/1699-claim/data/S/land-grants/cavalier-vol4-8-extraction/pdf-scans
