.custom-icon1 {
  background: url('/images/feather-icon.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}
.custom-icon2 {
  background: url('/images/interfaith-icon.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}

.custom-icon3 {
  background: url('/images/feathers-icon.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}

.custom-icon4 {
  background: url('/images/diversity-icon.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}

.custom-icon5 {
  background: url('/images/geographical-roots-icon.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}

.custom-icon6 {
  background: url('/images/chains-icon.png') no-repeat;
  width: 72px;
  height: 77px;
  display: inline-block;
  background-size: contain;
}

.custom-icon7 {
  background: url('/images/dialogue-icon.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}
