{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{.Title | markdownify}}</h1>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add the search functionality JavaScript code -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('faq-search');
    const faqItems = document.getElementsByClassName('faq-item');

    searchInput.addEventListener('input', function(event) {
      const searchTerm = event.target.value.toLowerCase();

      for (const faqItem of faqItems) {
        const itemText = faqItem.textContent.toLowerCase();
        if (itemText.includes(searchTerm)) {
          faqItem.style.display = 'block';
        } else {
          faqItem.style.display = 'none';
        }
      }
    });
  });
</script>

{{ end }}
