{{ define "main" }}

<script>
  document.getElementById('faq-search').addEventListener('input', function (e) {
    const searchString = e.target.value.toLowerCase().trim();
    const faqItems = document.querySelectorAll('.faq-item');

    faqItems.forEach(function (item) {
      const question = item.querySelector('strong').textContent.toLowerCase();
      const answer = item.textContent.toLowerCase();

      if (
        searchString === '' ||
        question.includes(searchString) ||
        answer.includes(searchString)
      ) {
        item.classList.remove('hidden');
      } else {
        item.classList.add('hidden');
      }
    });
  });
</script>


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{.Title | markdownify}}</h1>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}