{{ define "main" -}}
<style>
  .iframe-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.iframe-loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #333;
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
}
</style>
    <section class="petition-section" style="margin-bottom: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h1 class="text-center">Sign the Petition</h1>
          <p class="text-center">Sign our petition and support the renaming movement!</p>
          <div id="counter" class="text-center mb-4" style="font-size: 1.3em;">Total Signatures: <span id="signaturesCount">loading...</span></div>
          <div class="d-lg-flex justify-content-lg-between align-items-lg-start">
            <div class="d-none d-lg-block" style="width: 80%;">
              <br><p>Add your name to support the renaming of Falls Church, VA to Little Falls, VA, fostering inclusivity, honoring indigenous heritage, and embracing our community's diverse history for a brighter, more united future.</p>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
              <form id="petition-form">
                  <div class="iframe-loader"></div>
                  <iframe id="petition-iframe" src="https://script.google.com/macros/s/AKfycbznmrkETwlllZfm42tsBadIiCw-9CjsHvmmI4qkY2Y4ZEWSD5JackGkfuE73y0zDqHfLA/exec?lang=es" width="100%" height="300" frameborder="0" scrolling="no" style="min-height: 300px; max-height: 600px;" title="Petition form"></iframe>
                </form>
            </div>

            <div class="d-lg-none mt-4">
              <p>Add your name to support the renaming of Falls Church, VA to Little Falls, VA, fostering inclusivity, honoring indigenous heritage, and embracing our community's diverse history for a brighter, more united future.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="expanded-petition-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-center mb-4">Petition to Rename Falls Church to Little Falls:</h2> <h3>Acknowledge Our Diverse History and Embrace an Inclusive Future </h3><br>
        <p>To the City Council and the citizens of Falls Church,</p>
        <p>We, the undersigned, believe that the current name of Falls Church is not representative of our diverse and inclusive community. The name refers to one specific church, The Falls Church, which dates back to the colonial era. However, our city has grown into a diverse and vibrant community, with various religious beliefs and secular worldviews. We believe that our name should reflect this evolution and promote inclusivity for all residents, regardless of their faith or lack thereof.</p>
        <p>Before Falls Church was established, the area was inhabited by the Iroquois Confederacy, including the Tauxenents, Patawomekes, and Matchotics. They regarded the Little Falls of the Potomac River as significant, marking the first barrier to navigation and serving as a gathering place for trade and communication. The native peoples had well-established trails connecting the area to Little Falls.</p>
        <p>English colonists arrived in the area as early as 1699, disrupting the lives of the native inhabitants. They built homes and established communities, and eventually transformed the Native American trails into major colonial transportation routes. In 1734, The Falls Church was founded at its present location at the intersection of important Native American trails that were later paved and named Broad Street, Lee Highway, and Little Falls Street. The church not only served as a place of worship but also as an outpost of the colonial government. Both the original wooden church and the current brick church, designed by architect James Wren, were built with enslaved labor.</p>
        <p>Although the modern congregation has become a diverse and welcoming congregation, we believe that renaming the city is a crucial step in recognizing our community's diverse history and moving towards a more inclusive future, free from religious bias in our city's name.</p>
        <p>We respectfully request that the City Council and the citizens of Falls Church consider this proposal to change the city's name to Little Falls, fostering a greater sense of unity and acknowledging the diverse history of our community.</p>
        <br>
          <p><em>A full list of signers will be delivered with the petition.</em></p>
          
        <div id="counter" class="text-center mb-4" style="font-size: 1.2em;">Total Signatures: <span id="signaturesCountBottom">loading...</span></div>
      </div>
    </div>
  </div>
</section>

  <script>
            document.getElementById("petition-iframe").addEventListener("load", function() {
  document.querySelector(".iframe-loader").style.display = "none";
});
  </script>
{{- end }}