{{ define "main" -}}

    <section class="petition-section" style="margin-bottom: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h1 class="text-center">Firma la Petición</h1>
          <p class="text-center">¡Firma nuestra petición y apoya el movimiento de cambio de nombre!</p>
          <div id="counter" class="text-center mb-4" style="font-size: 1.3em;">Firmas Totales: <span id="signaturesCount">0</span></div>
          <div class="d-lg-flex justify-content-lg-between align-items-lg-start">
            <div class="d-none d-lg-block" style="width: 80%;">
              <br><p>Agrega tu nombre para apoyar el cambio de nombre de Falls Church, VA a Little Falls, VA, fomentando la inclusión, honrando el patrimonio indígena y abrazando la historia diversa de nuestra comunidad para un futuro más brillante y unido.</p>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
              <form id="petition-form">
                <iframe src="https://script.google.com/macros/s/AKfycbznmrkETwlllZfm42tsBadIiCw-9CjsHvmmI4qkY2Y4ZEWSD5JackGkfuE73y0zDqHfLA/exec?lang=es" width="100%" height="300" frameborder="0" scrolling="no" style="min-height: 300px; max-height: 600px;"></iframe>
              </form>
            </div>

            <div class="d-lg-none mt-4">
              <p>Agrega tu nombre para apoyar el cambio de nombre de Falls Church, VA a Little Falls, VA, fomentando la inclusión, honrando el patrimonio indígena y abrazando la historia diversa de nuestra comunidad para un futuro más brillante y unido.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="expanded-petition-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-center mb-4">Petición para cambiar el nombre de Falls Church a Little Falls:</h2> <h3>Reconozca nuestra diversa historia y abrace un futuro inclusivo </h3><br>
        <p>Al Concejo Municipal y los ciudadanos de Falls Church,</p>
        <p>Nosotros, los abajo firmantes, creemos que el nombre actual de Falls Church no es representativo de nuestra comunidad diversa e inclusiva. El nombre hace referencia a una iglesia específica, The Falls Church, que data de la época colonial. Sin embargo, nuestra ciudad se ha convertido en una comunidad diversa y vibrante, con diversas creencias religiosas y visiones del mundo seculares. Creemos que nuestro nombre debe reflejar esta evolución y promover la inclusión para todos los residentes, independientemente de su fe o falta de ella.</p>
<p>Antes de que se estableciera Falls Church, la zona estaba habitada por la Confederación Iroquesa, incluidos los Tauxenents, Patawomekes y Matchotics. Consideraban las Pequeñas Cataratas del río Potomac como significativas, marcando la primera barrera para la navegación y sirviendo como lugar de encuentro para el comercio y la comunicación. Los pueblos nativos tenían senderos bien establecidos que conectaban el área con Little Falls.</p>
<p>Los colonos ingleses llegaron al área desde 1699, interrumpiendo la vida de los habitantes nativos. Construyeron casas y establecieron comunidades, y finalmente transformaron los senderos nativos en rutas de transporte coloniales importantes. En 1734, se fundó The Falls Church en su ubicación actual en la intersección de importantes senderos nativos americanos que luego fueron pavimentados y llamados Broad Street, Lee Highway y Little Falls Street. La iglesia no solo servía como lugar de culto, sino también como puesto avanzado del gobierno colonial. Tanto la iglesia original de madera como la iglesia actual de ladrillo, diseñada por el arquitecto James Wren, fueron construidas con mano de obra esclavizada.</p>
<p>Aunque la congregación moderna se ha convertido en una congregación diversa y acogedora, creemos que cambiar el nombre de la ciudad es un paso crucial para reconocer la diversa historia de nuestra comunidad y avanzar hacia un futuro más inclusivo, libre de prejuicios religiosos en el nombre de nuestra ciudad.</p>
<p>Respetuosamente solicitamos que el Concejo Municipal y los ciudadanos de Falls Church consideren esta propuesta para cambiar el nombre de la ciudad a Little Falls, fomentando un mayor sentido de unidad y reconociendo la diversa historia de nuestra comunidad.</p>
<br>
  <p><em>Se entregará una lista completa de firmantes con la petición.</em></p>
      
  <div id="counter" class="text-center mb-4" style="font-size: 1.2em;">Firmas Totales: <span id="signaturesCountBottom">0</span></div>
  </div>
</div>
</div>
</section>

  <script>
  </script>
{{- end }}

