{{ define "main" }}
<div id="scroll-container">
  {{ .Content }}
</div>

<script>
  const scrollElements = document.querySelectorAll(".text-content, .image-container");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("text-content-hidden");
          entry.target.classList.remove("image-hidden");
        } else {
          entry.target.classList.add("text-content-hidden");
          entry.target.classList.add("image-hidden");
        }
      });
    },
    {
      threshold: 0.5,
    }
  );

  scrollElements.forEach((element) => {
    observer.observe(element);
  });
</script>

{{ end }}
