{{ define "main" }}
  <section class="petition-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>Sign the Petition</h1>
          <p>Sign our petition and support the renaming movement!</p>
<div id="counter">Signatures: <span id="signaturesCount">0</span></div>
 <form id="petition-form">
   
            <iframe src="https://script.google.com/macros/s/AKfycbwcYsS1drSVPAt7BLFUXwT92O08sKC7bURs_0xxEkmjwuTdXnOOiqrZGwdwx_AU1lg1LQ/exec" width="100%" height="500" frameborder="0"></iframe>
    </form>
       <!-- End of Custom Petition Form -->
        </div>
      </div>
    </div>
  </section>

  <script>
    // Add the JavaScript code here
  </script>
{{ end }}
