{{ define "main" }}
  <section class="petition-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>Sign the Petition</h1>
          <p>Sign our petition and support the renaming movement!</p>
<div id="counter">Signatures: <span id="signaturesCount">0</span></div>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfsu1wpfvSt9ERMpvb0BsvqUV-wkvpEUqZsLZXouvK4NPWjug/viewform?embedded=true" width="640" height="574" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <br><br><br><br>
          <!-- End of Custom Petition Form -->

        </div>
      </div>
    </div>
  </section>

  <script>
    // Add the JavaScript code here
  </script>
{{ end }}
