{{ $data := index .Site.Data .Site.Language.Lang }}

<style>
  @media (min-width: 768px) {
    .row-centered {
      display: flex;
      align-items: center;
    }
  }
</style>

{{- if $data.homepage.features.enable }}
{{- with $data.homepage.features }}
<section class="section" id="features">
  <div class="container">
    <div class="row row-centered"> <!-- Add the row-centered class here -->
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <!-- Left side features -->
        {{ range .left_side }}
        <div class="mb-40 text-center text-md-left">
          <img class="d-inline-block custom-icon mb-10" src="{{ .icon | absURL }}" alt="{{ .title }}">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="col-12 col-md-4 text-center"> <!-- Add text-center class -->
        <img src="{{ .image | absURL }}" alt="{{ .title }}" class="img-fluid">
      </div>
      <div class="col-12 col-md-4">
        <!-- Right side features -->
        {{ range .right_side }}
        <div class="mb-40 text-center text-md-left">
          <img class="d-inline-block custom-icon mb-10" src="{{ .icon | absURL }}" alt="{{ .title }}">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}
