<title>{{ .Title }} - Little Falls Movement for Inclusivity</title>
<meta name="description" content="{{ .Params.description | default "Support the movement to rename Falls Church to Little Falls, fostering a more welcoming and diverse community for all." }}">
<meta name="keywords" content="{{ .Params.keywords }}">

<!-- Open Graph and Twitter Cards -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description | default "Support the movement to rename Falls Church to Little Falls, fostering a more welcoming and diverse community for all." }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink | absURL }}">
<meta property="og:image" content="{{ (printf "images/metalogo.jpg") | absURL }}">
<meta property="og:image:alt" content="Little Falls logo in blue text on a white background, with the subheader 'A Name for All'">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.description | default "Support the movement to rename Falls Church to Little Falls, fostering a more welcoming and diverse community for all." }}">
<meta name="twitter:image" content="{{ (printf "images/metalogo.jpg") | absURL }}">

<!-- Canonical URL -->
{{ if .IsTranslated }}
  {{ range .Translations }}
    <link rel="alternate" href="https://littlefallsva.com/{{ .Permalink | absURL }}" hreflang="{{ .Language.Lang }}" />
  {{ end }}
{{ end }}
<link rel="canonical" href="https://littlefallsva.com/{{ .Permalink | absURL }}" />

<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta name="language" content="{{ .Site.LanguageCode }}">

<meta name="DC.title" content="{{ .Title }}">
<meta name="DC.description" content="{{ .Params.description | default "Support the movement to rename Falls Church to Little Falls, fostering a more welcoming and diverse community for all." }}">
<meta name="DC.language" content="{{ .Site.LanguageCode }}">
<meta name="DC.publisher" content="Little Falls Movement for Inclusivity">

<meta name="robots" content="index, follow">

<meta name="theme-color" content="#2e495d">
