{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.press_and_media.enable }}
<section id="press-and-media" class="press-and-media-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.press_and_media.title }}</h2>
        </div>
      </div>
    </div>
    
    <div class="row custom-gutter">
      <div class="col-md-4">
        <h4>{{ $data.homepage.press_and_media.media_contact.name }}</h4>
        <p>{{ $data.homepage.press_and_media.media_contact.description }}</p>
      </div>
      
      <div class="col-md-8">
        <h3>Press Releases</h3>
        <ul class="press-releases">
          {{ range first 3 (where .Site.RegularPages.ByWeight "Section" "press") }}
          <li>
            <h4><a href="{{ .Permalink }}" class="press-release-title-link">{{ .Title }}</a></h4>
            <p>{{ .Params.description }}</p>
            <a href="{{ .Permalink }}" class="press-release-link">Read More</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
