{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.press_and_media.enable }}
<section id="press-and-media" class="press-and-media-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.press_and_media.title }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Latest Press Releases</h3>
        <div class="row">
          {{ range first 3 (where .Site.RegularPages.ByWeight "Section" "press") }}
            <div class="col-md-4">
              <a href="{{ .Permalink }}" class="card-link">
                <div class="card mb-4 position-relative">
                  <div class="date-badge">
                    <span class="date-day">{{ dateFormat "2" .Date }}</span>
                    <span class="date-month">{{ dateFormat "Jan" .Date }}</span>
                    <span class="date-year">{{ dateFormat "2006" .Date }}</span>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ .Title }}</h4>
                    <p class="card-text d-inline">{{ .Params.description }} <span class="continue-reading">continue reading »</span></p>
                  </div>
                </div>
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>{{ $data.homepage.press_and_media.media_contact.name }}</h3>
        <p>{{ $data.homepage.press_and_media.media_contact.description }}
          <a href="mailto:hello@littlefallsva.com">hello@littlefallsva.com</a>.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
