<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Init controller
    var controller = new ScrollMagic.Controller();

    // Create tweens
    var tweenTextBlocks = new TimelineMax()
      .staggerFrom(".text-block", 1, {opacity: 0, y: 100}, 0.5);

    // Build scenes
    new ScrollMagic.Scene({
      triggerElement: ".text-image-wrapper",
      triggerHook: 0.5,
      reverse: true,
      duration: "200%"
    })
    .setPin(".image")
    .addTo(controller);

    new ScrollMagic.Scene({
      triggerElement: ".text-blocks",
      triggerHook: 0.5,
      reverse: true,
      duration: "200%"
    })
    .setTween(tweenTextBlocks)
    .addTo(controller);
  });
</script>

