{{ $data := index .Site.Data (default "en" .Site.Language.Lang) }}
{{ if $data.homepage.store.enable }}
<section class="gallery" id="store">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.store.title | markdownify }}</h2>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "store") }}
          <div class="block">
            <a href="{{ .Permalink }}" class="product-thumbnail" aria-label="View details for {{ .Title }}">
              {{ with index .Params.images 0 }}
                {{ $image := . }}
                {{ $mobile := printf "/static/%s" $image | relURL }}
                {{ $desktop := printf "/static/%s" $image | relURL }}
                <img class="img-fluid" src="{{ $desktop }}" alt="{{ with .Params.image_alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}"
                     srcset="{{ $mobile }} 767w, {{ $desktop }} 768w"
                     sizes="(max-width: 767px) 100vw, (min-width: 768px) 100vw">
              {{ end }}
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
