{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.store.enable }}
<section class="gallery" id="store">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.store.title | markdownify }}</h2>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "store") }}
          <div class="block">
            <a href="{{ .Permalink }}" class="product-thumbnail" aria-label="View details for {{ .Title }}">
              {{ if isset .Params "images" }}
                {{ $image := index .Params.images 0 }}
                {{ $desktop := $image }}
                {{ $mobile := printf "%s-mobile%s" (path.Dir $image) (path.Ext $image) }}
                <img class="img-fluid" src="{{ $desktop | absURL }}" srcset="{{ $mobile | absURL }} 480w, {{ $desktop | absURL }} 800w" sizes="(max-width: 767px) 480px, 800px" alt="{{ with .Params.image_alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}">
              {{ end }}
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
