{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">
          <form id="subscription-form" method="POST" action="/.netlify/functions/subscription-form-function" data-netlify="true" class="w-100">
            <input type="hidden" name="form-name" value="subscription-form">
            <input type="hidden" name="_subject" value="New subscription">
            <input type="email" id="email" class="form-control" name="email" placeholder="{{ .placeholder }}" required>
            <span class="input-group-btn">
              <button class="btn btn-main btn-submit" type="submit" name="subscribe">{{i18n "subscribe"}}</button>
            </span>
          </form>
          <p id="subscription-message" class="text-white w-100 text-center mt-3"></p>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
