{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">
        <form id="subscription-form" class="position-relative" method="POST">
          <input type="email" name="email" id="subscription-email" class="form-control" placeholder="Your Email Address" required>
          <button type="submit" class="btn btn-primary">Subscribe</button>
          <p id="subscription-message" class="text-center mt-2 position-absolute w-100" style="top: 100%;"></p>
        </form>

        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
