{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-9 offset-lg-1">
        <h1>404 - Little Falls: Great at Renaming, Not So Great at Directions</h1>
        <p>Oh no! It looks like we took a wrong turn somewhere. But don't worry, just like our efforts to create a more inclusive and diverse community, we'll find our way back on track.</p>
        <p>To help us rename Falls Church to Little Falls, we could use your excellent navigation skills. Let's head back to the starting point and continue our journey together.</p>
        <p><a href="/" class="btn btn-primary">Return to Home</a></p>
        <p>Remember, every step counts when it comes to making a positive change in our community. Thank you for supporting the renaming movement, and let's work together to create a more inclusive Little Falls!</p>
      </div>
    </div>
  </div>
</section>
{{ end }}