{{ define "main" }}
  <section class="petition-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>About Us</h1>
            <p>Welcome to the Committee for Little Falls, a community-driven organization dedicated to renaming Falls Church, Virginia to Little Falls. Our mission is to foster a more inclusive, welcoming, and unified city by distancing ourselves from a name that holds associations with colonialism, the institution of slavery, and indigenous erasure. We believe that a city's name should reflect the shared values and aspirations of its people, and we are committed to making this vision a reality.</p>

            <h2>Our Story</h2>
            <p>The Committee for Little Falls was founded by a group of concerned citizens who recognized the need for change in our city's identity. As we delved into the history of Falls Church, we discovered that the current name not only connects the city to a specific church with roots in slavery but also excludes many residents who do not identify with a particular religious institution.</p>

            <p>After much research and community engagement, we proposed the name "Little Falls" as a more inclusive alternative that emphasizes the city's geographical and historical connections while respecting the diverse beliefs of its residents.</p>

            <h2>Our Goals</h2>
            <ul>
            <li>Engage and educate the community about the history of Falls Church and the importance of adopting a more inclusive name.</li>
            <li>Foster open and respectful dialogue among residents, encouraging a healthy exchange of ideas and perspectives.</li>
            <li>Build a broad coalition of support for the name change, including individuals, community organizations, businesses, and local leaders.</li>
            <li>Navigate the legal and administrative processes required for the city's official renaming to Little Falls.</li>
            </ul>

            <h2>Our Team</h2>
            <p>The Committee for Little Falls is a volunteer-based organization made up of dedicated individuals from various backgrounds and experiences. We are united by our passion for creating a more inclusive and welcoming city for everyone. Our team members bring diverse skills and expertise to the table, working together to achieve our shared goals.</p>

            <h2>Join Us</h2>
            <p>We invite you to join us in our mission to transform Falls Church into Little Falls. Your support and involvement are crucial to the success of this initiative. Whether you are interested in volunteering, sharing your ideas, or simply staying informed about our progress, we welcome your participation. Together, we can build a brighter future for our city and its residents.</p>

            <p>For more information on how to get involved, please visit our <a href="[/petition]">Volunteer/Get Involved</a> page or contact us at <a href="mailto:hello@littlefallsva.com">[insert email address]</a>.</p>
        </div>
      </div>
    </div>
  </section>
{{ end }}
