{{- define "main" -}}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="mb-4">Press Releases</h1>
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "press") }}
        {{ range $index, $page := $paginator.Pages }}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></h2>
              <p class="card-text">{{ $page.Params.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ dateFormat "January 2, 2006" $page.Date }}</small>
            </div>
          </div>
          {{ if ne (add $index 1) (len $paginator.Pages) }}
            <hr class="mb-4">
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ if eq .Site.Language.Lang "es" }}
    {{ partial "press-kit-es.html" . }}
  {{ else }}
    {{ partial "press-kit.html" . }}
  {{ end }}
{{- end -}}
