{{- define "main" -}}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Latest Press Releases</h3>
        <ul class="press-releases">
          {{ range first 10 (where .Site.RegularPages.ByWeight "Section" "press") }}
          <li>
            <h4><a href="{{ .Permalink }}" class="press-release-title-link">{{ .Title }}</a></h4>
            <div class="press-release-content">
              <p>{{ .Params.description }} <span class="press-release-link-container"><a href="{{ .Permalink }}" class="press-release-link">Continue Reading »</a></span></p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ if eq .Site.Language.Lang "es" }}
    {{ partial "press-kit-es.html" . }}
  {{ else }}
    {{ partial "press-kit.html" . }}
  {{ end }}
{{- end -}}
